---
import '../styles/global.css';
---
<div class="text-gray-300 mx-auto bg-gray-900 h-screen w-screen fixed p-6  justify-center items-center" >
	<div class="max-w-[740px] mx-auto w-full">
	<div class="flex flex-col items-center justify-center">
		<img draggable="false" class="w-24 h-24 rounded-full border-4 border-cyan-300 mb-4" src="https://avatars.githubusercontent.com/u/148649344?v=4" alt="profile picture" />
		<h1 class="text-2xl md:text-4xl font-semibold mb-2">Morgui Mateo</h1>
		<p class="text-md text-gray-500 m-3">Full Stack Developer</p>	
		<div class="text-cyan-400 list-disc flex flex-row gap-2 m-1">
			<a class="border-2 border-gray-700 rounded-md p-2" href="https://github.com/morgui-mateo">Github</a>
			<a class="border-2 border-gray-700 rounded-md p-2" href="mailto:morguimateo2@gmail.com">Gmail</a>
		</div>
	</div>
	<section class="flex flex-col items-center justify-center mt-4">
		<h2 class="text-2xl font-bold ">About Me</h2>
		<p class="text-sm text-gray-500 border-2 border-gray-700 rounded-md p-4 mt-2 max-w-full">I am a full stack developer with a passion for building web applications. I am a quick learner and I am always looking to improve my skills.</p>

	</section>
	<section class="flex flex-col items-center justify-center mt-4">
		<h2 class="text-2xl font-bold">Skills</h2>
			<div class="flex flex-wrap gap-2 p-2">
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">HTML</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">CSS</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">JavaScript</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">TypeScript</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">Tailwind</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">React</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">Astro</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">Next.js</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">Node.js</div>
				<div class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:bg-primary/80 bg-ds-gray-200 text-ds-gray-900 border border-ds-gray-300">MongoDB</div>
				
			</div>
	</section>

</div>
</div>